@font-face {
	font-family: 'cac_champagneregular';
	src: url('cac_champagne-webfont.eot');
	src: url('cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
		 url('cac_champagne-webfont.woff') format('woff'),
		 url('cac_champagne-webfont.ttf') format('truetype'),
    	 url('cac_champagne-webfont.svg#cac_champagneregular') format('svg');


}

h1
{
	font-family: "cac_champagneregular", "Arial black", serif;
	font-size: 50px;
}


h2
{
	font-family: "cac_champagneregular", "Arial black", serif;
	font-size: 2.2em;
}


<body>
{
	background-image: url('fond-site.png');
	background-attachment: fixed;
	background-repeat: repeat-y;
}

.lalettreB
{
	float: left;
}