@font-face {
	font-family: 'cac_champagneregular';
	src: url('font/cac_champagne-webfont.ttf') format('truetype');
    
}

h1
{
	font-family: "cac_champagneregular", "Arial black", serif;
	font-size: 50px;
}


h2
{
	font-family: "cac_champagneregular", "Arial black", serif;
	font-size: 2.2em;
	text-decoration: underline;
}


body
{
	color: black;
	background-image: url("fond-site1.jpg");
	background-attachment: fixed;
	background-repeat: repeat-x;
	text-align: center;
}

.lalettreB
{
	float: left;
}